<!-- Include Head -->
<%- include("./partials/head") %> 


<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="search-results.html" method="GET" class="search-form">
				<div>
					<label for="foto">Imagen</label>,
					<input type="file" name="foto">,
				</div>
				<div>
					<label for="nombre">Nombre del Producto</label>,
					<input type="text" name="nombre">,
				</div>
				<div>
					<label for="descripcion">Descripcion del Producto</label>,
					<input type="text" name="descripcion">
				</div>
				<div>
					<label for="fecha">Fecha de Carga</label>,
					<input type="date" name="fecha">,
				</div>
			</form>


	<!-- footer -->
	
	<!-- /footer -->
</body>

</html>