<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include("./partials/head") %> 

<body>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>

			<h2 class="col-12"> 
				<div class="containerForm">
					<div class="contact-form">
						<form action="/users/register" method="POST" enctype="multipart/form-data">
							<p>
								<label>NOMBRE DE USUARIO</label>
								<input type="text" name="nombre">
							</p>
							<p>
								<label>EMAIL</label>
								<input type="email" name="email">
							</p>
							<p>
								<label>CONSTRASEÑA</label>
								<input type="password" name="password">
							</p>
							<p>
								<label>REPETIR CONSTRASEÑA</label>
								<input type="password" name="retypePassword">
							</p>
							<p>
								<label>FECHA DE NACIMIENTO</label>
								<input type="date" name="fecha_nacimiento">
							</p>
							<p>
								<label>FOTO DE PERFIL</label>
								<input type="file" name="image_profile">
							</p>
							<% if(locals.errors) { %>
								<p class="error"> <%= errors.message %>  </p>
							<% } %> 
							<p class="block">
								<button type="submit">
									REGISTRARME
								</button>
							</p>
						</form>
					</div>
				</div>
			</h2>
		</div>		
	</div>

	<!-- footer -->
	<%- include("./partials/footer") %> 

</body>

</html>